.noScroll::-webkit-scrollbar {
  display: none;
}

.customScroll::-webkit-scrollbar {
  width: 10px;
}

.customScroll::-webkit-scrollbar-track {
  background: #cbd5e0;
  border-radius: 8px;
}

.customScroll::-webkit-scrollbar-thumb {
  width: 8px;
  background: #4a5568;
  border-radius: 4px;
}
